apiVersion: apps/v1
kind: Deployment
metadata:
  name: cashback
spec:
  replicas: 3
  selector:
    matchLabels:
      app: cashback
  template:
    metadata:
      labels:
        app: cashback
    spec:
      containers:
        - name: cashback
          image: $DOCKER_USERNAME/cashback:$SEMAPHORE_WORKFLOW_ID

---

apiVersion: v1
kind: Service
metadata:
  name: cashback-lb
spec:
  selector:
    app: cashback
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
